
.incognito-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Làm mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .incognito-popup {
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1001;
  }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }
  .understood-btn {
    color: gray;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  